@charset "UTF-8";
.paper {
  overflow: auto;
  background-color: white;
  color: black;
}
.mla {
  padding: 1in;
  line-height: 2em;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}
.header {text-align: center}
.hang {
  margin-left: 0.5in;
  text-indent: -0.5in;
}
@media (max-width: 1024px) {
  .mla8 {padding: 0.5in}
  .hang {
    margin-left: 0.25in;
    text-indent: -0.25in;
  }
}
