@charset "UTF-8";
:target {color: red}
body {
  box-sizing: border-box;
  background-color: gainsboro;
  font-family: Consolas, "Courier New", Courier, monospace;
}
header, footer {
  margin: 10px;
  text-align: center;
}
img {
  display: block;
  margin: auto;
  padding: 15px;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  text-align: center;
  margin: 5px;
}
p {
  color: black;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  text-indent: 50px;
}
ul {
  color: black;
  list-style-position: inside;
}
nav {margin: 1em 0}
noscript {
  display: block;
  font-weight: bold;
  color: red;
  padding-bottom: 10px;
}
progress {
  display: block;
  margin: 15px auto;
  width: 50%;
}
.ext:link {color: blue}
.ext:visited {color: green}
.ext:hover {color: red}
.ext:active {color: black}
.int {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #333;
  padding: 8px;
  margin: 0 -5px;
}
.int:hover {background-color: #111}
.box-container {
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-between;
}
.box {
  /*display: inline-block;
  width: calc((100% / 3) - 24px);
  position: relative;*/
  flex: 0 0 30%;
  height: 250px;
  padding: 6px;
  margin: auto;
  border: 3px dashed gray;
  overflow: hidden;
}
.lst {
  margin: auto;
  width: 25%;
}
.doc {
  display: block;
  margin: auto;
  width: 50%;
  height: 11in;
}
.exp {width: 15%}
#top {width: 25%}
/*tablet profile*/
@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    flex: 0 0 40%;
    /*width: calc(50% - 23px)*/
  }
  .doc {
    width: 75%;
    height: 5.5in;
  }
  .exp {width: 20%}
  #top {width: 30%}
}
/*mobile profile*/
@media (max-width: 767px) {
  .lst {
    /*margin-left: -40px;*/
  }
  .doc {
    width: 100%;
    height: 4.5in;
  }
  .box-container {
    height: auto;
  }
  .box {
    /*width: calc(100% - 18px)*/
    flex: 0 0 90%;
  }
  .exp {width: 40%}
  #top {width: 50%}
}
@media (max-width: 1024px) {
  body {
  margin-left: 8%;
  margin-right: 8%;
  }
  p {
  margin: auto;
  text-indent: 25px;
  }
  .lst {width: auto}
}
