@charset "UTF-8";
:target {color: red}
* {box-sizing: border-box}
body {
  background-color: gainsboro;
  font-family: Consolas, "Courier New", Courier, monospace;
}
img {
  display: block;
  margin: auto;
  padding: 15px;
}
h1, h2, h3, h4, h5, h6, header, footer {
  color: black;
  text-align: center;
  margin: 10px;
}
p {
  color: black;
  text-align: left;
  margin: 0 25%;
  text-indent: 50px;
}
a {color: inherit}
ul {
  color: black;
  list-style-position: inside;
}
nav {margin: 1em 0}
noscript {
  display: block;
  font-weight: bold;
  color: red;
  padding-bottom: 10px;
}
progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  display: block;
  margin: 15px auto;
  width: 50%;
}
::-webkit-progress-bar {background-color: #E6E6E6}
::-webkit-progress-value {
  /*background-color: green;*/
  transition-duration: 1s;
}
::-webkit-progress-inner-element {/*border: 2px solid black;*/}
::-moz-progress-bar {
  background-color: green;
  /*transition-duration: 1s;*/
}
::-ms-fill {
  background-color: green;
  transition-duration: 1s;
}
.ext {transition: color 0.25s}
.ext:link {color: blue}
.ext:visited {color: green}
.ext:hover {color: red}
.ext:active {color: black}
.int {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #333;
  padding: 8px;
  margin: 0 -5px;
  transition: background-color 0.5s
}
.int:hover {background-color: #111}
.box-container {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-between;
}
.box {
  flex: 0 0 33%;
  height: 250px;
  padding: 6px;
  margin: 3px auto;
  border: 3px dashed gray;
  overflow: hidden;
}
.lst {
  margin: auto;
  width: 25%;
}
.doc {
  display: block;
  margin: auto;
  width: 50%;
  height: 11in;
}
.exp {
  width: 15%;
  transition: width 1s;
}
.coinhive-miner {
  width: 50%;
  height: 1em;
  margin: auto;
}
#top {width: 25%}
/*tablet profile*/
@media (min-width: 768px) and (max-width: 1024px) {
  .box {flex: 0 0 47%}
  .doc {
    width: 75%;
    height: 5.5in;
  }
  .exp {width: 30%}
  #top {width: 50%}
}
/*mobile profile*/
@media (max-width: 767px) {
  .box {flex: 0 0 100%}
  .doc {
    width: 90%;
    height: 4.5in;
  }
  .exp {width: 45%}
  #top {width: 75%}
}
@media (max-width: 1024px) {
  body {
  margin-left: 5%;
  margin-right: 5%;
  }
  p {
  margin: auto;
  text-indent: 25px;
  }
  .lst {
    width: auto;
    /*margin-left: -40px;*/
  }
}
